/* ========= Common styles ========= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.header-container {
  display: flex;
}

/* ========= /Common styles ========= */

/* ========= Page Header styles ========= */
.header-container {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.page-nav {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  gap: 40px;
}

.menu .menu-item-line::after {
  content: "";
  width: 48px;
  height: 4px;
  display: block;
  background-color: #404bbf;
  border-radius: 2px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo-color {
  color: #2e2f42;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.page-contacts {
  font-style: normal;
  margin-left: auto;
}
.contacts {
  display: flex;
  gap: 40px;
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* ========= /Page Header styles ========= */

/* ========= Page Hero styles ========= */

.hero-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  min-width: 169px;
  height: 56px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}
.hero .section {
  background: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)),
    url(/images/people-office-fone.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-clip: border-box;
}

/* ========= /Page Hero styles ========= */

/* ========= Page Our Benefits styles ========= */
.benefits {
  background: #fff;
  padding: 120px 0;
}

.benefits-list {
  display: flex;
  gap: 24px;
}
.benefits-list-item {
  width: calc((100% - 72px) / 4);
}
.benefits-list-item .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
}

.benefits-list-item .benefits-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.benefits-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ========= /Page Our Benefits styles ========= */

/* ========= Page Our Team styles ========= */
.page-team {
  background: #f4f4fd;
  padding: 120px 0;
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.team-list-item {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  margin-bottom: 8px;
  border-radius: 0px 0px 4px 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list-item:hover,
.team-list-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-personality {
  padding: 32px 0;
}
.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}
.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.social-links-list {
  display: flex;
  margin-top: 8px;
  gap: 24px;
  margin-left: 16px;
  margin-right: 16px;
}
.social-list-link {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  display: flex;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}

/* ========= /Page Our Team styles ========= */

/* ========= Page Our Portfolio styles ========= */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
}
.portfolio-list-item {
  background: #fff;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover,
.portfolio-list-item:focus {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container-card-border {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.overlay-card {
  position: relative;
  overflow: hidden;
}
.overlay {
  padding-top: 40px;
  padding-bottom: 164px;
  padding-left: 32px;
  padding-right: 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .overlay {
  transform: translateY(0);
}
/* ========= /Page Our Portfolio styles ========= */

/* ========= Page Footer styles ========= */
.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-color {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 264px;
}
.page-footer .container-links {
  display: flex;
}
.footer-second-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-second-part {
  margin-left: 120px;
}
.footer-list-link {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  display: flex;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-links-list {
  display: flex;
  gap: 16px;
}
.footer-list-link:hover,
.footer-list-link:focus {
  background-color: #31d0aa;
}

/* ========= /Page Footer styles ========= */
