/* ========= Common styles ========= */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ol,
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.container {
  max-width: 320px;
  padding: 0 16px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
/* ========= /Common styles ========= */

/* ========= Page Header styles ========= */

@media screen and (min-width: 320px) {
  .menu,
  .page-contacts {
    display: none;
  }
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 16px 0;
  display: block;
}
.logo-color {
  color: #2e2f42;
}

.menu-open-btn {
  padding: 16px 0;
  display: block;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 24px 0;
    margin-right: 120px;
  }

  .logo-color {
    color: #2e2f42;
  }
  .page-contacts {
    display: flex;
    margin-left: auto;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    font-size: 12px;
    font-style: normal;
    color: #2e2f42;
  }
  .contacts {
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .menu {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .menu-link {
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
  }
  .menu-link,
  .contacts-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus,
  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }

  .link-line-active {
    position: relative;
    color: #404bbf;
  }

  .link-line-active::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }
}
@media screen and (min-width: 1158px) {
  .contacts {
    flex-direction: row;
    gap: 40px;
  }
  .page-contacts {
    font-size: 16px;
    letter-spacing: 0.02em;
  }
  .logo {
    margin-right: 76px;
  }
}
/* ========= /Page Header styles ========= */
.hero {
  background-color: #2e2f42;
  padding: 72px 0;
  background-image: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)),
    url(../mobile_img/dark-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../mobile_img/dark-bg@2x.jpg);
  }
}

.hero-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.hero-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background: #404bbf;
}
/* tablet hero */

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
    background-image: linear-gradient(
        rgb(46, 47, 66, 0.7),
        rgb(46, 47, 66, 0.7)
      ),
      url(../tablet_img/Dark-bg.jpg);
    max-width: 768px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../tablet_img/Dark-bg@2x.jpg);
    }
  }
  .hero-header {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}
/* desktop hero */
@media screen and (min-width: 1158px) {
  .hero {
    padding: 188px 0;
    background-image: linear-gradient(
        rgb(46, 47, 66, 0.7),
        rgb(46, 47, 66, 0.7)
      ),
      url(../images/people-office-fone.jpg);
    max-width: 1440px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desktop-bg@2x.jpg);
    }
  }
  .hero-header {
    margin-bottom: 48px;
  }
}
/* ========= /Page Hero styles ========= */

/* ========= Page Our Benefits styles ========= */
.benefits {
  background: #fff;
  padding: 96px 0;
}

.benefits-list-item:not(:last-child) {
  margin-bottom: 72px;
}
.benefits-list-item .icon {
  display: none;
}

.benefits-list-item .benefits-list-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
}
.benefits-list-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*tablet benefits*/

@media screen and (min-width: 768px) {
  .benefits {
    padding: 96px 0;
  }

  .benefits-list {
    display: flex;
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
  }
  .benefits-list-item {
    width: calc((100% - 24px) / 2);
  }
  .benefits-list-item:not(:last-child) {
    margin-bottom: 0;
  }
  .benefits-list-item .benefits-list-title {
    justify-content: flex-start;
  }
}
/*desktop benefits*/

@media screen and (min-width: 1158px) {
  .benefits {
    padding: 120px 0;
  }

  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }
  .benefits-list-item .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .benefits-list-item .benefits-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .benefits-list-text {
    font-weight: 400;
  }
}
/* ========= /Page Our Benefits styles ========= */

/* ========= Page Our Team styles ========= */
.page-team {
  background: #f4f4fd;
  padding: 96px 0;
}
.team-list {
  display: block;
}
.team-list-item:not(:last-child) {
  margin-bottom: 72px;
}
.team-list-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-list-photo {
  width: 100%;
  height: 100%;
}
.team-personality {
  padding: 32px 16px;
}
.team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}
.team-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
}

.social-links-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0 auto;
}
.social-list-item {
  width: 40px;
  height: 40px;
}

.social-list-link {
  content: "";
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}
.svg {
  fill: #f4f4fd;
}

/*tablet team*/

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    align-items: center;
    justify-content: center;
  }
  .team-list-item:not(:last-child) {
    margin-bottom: 0px;
  }
}
/*desktop team*/

@media screen and (min-width: 1158px) {
  .team-list {
    flex-wrap: nowrap;
  }
}

/* ========= /Page Our Team styles ========= */

/* ========= Page Our Portfolio styles ========= */

.portfolio {
  padding: 96px 0;
}

.portfolio-list {
  display: block;
  justify-content: center;
}
.portfolio-list-item {
  max-width: 288px;
  background: #fff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-list-item:not(:last-child) {
  margin-bottom: 48px;
}
.portfolio-list-card {
  max-width: 100%;
  height: auto;
}
.portfolio-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.container-card-border {
  padding: 32px 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.overlay-card {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .overlay-text,
.portfolio-list-item:focus .overlay-text {
  transform: translateY(0%);
}

/*tablet portfolio*/

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .portfolio-list-item {
    max-width: 356px;
    width: calc((100% - 24px) / 2);
  }
  .portfolio-list-item,
  .portfolio-list-item:not(:last-child) {
    margin-bottom: 0;
  }
}
/*desktop portfolio*/

@media screen and (min-width: 1158px) {
  .portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }
  .portfolio-list-item {
    box-shadow: none;
    max-width: 360px;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-list-item:hover,
  .portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}
/* ========= /Page Our Portfolio styles ========= */

/* ========= Page footer styles ========= */

.page-footer {
  display: block;
  background-color: #2e2f42;
  padding: 96px 0;
}
.footer-left-part,
.footer-link-part,
.subscribe-part {
  display: flex;
  flex-direction: column;
  margin-bottom: 72px;
  justify-content: center;
  align-items: center;
}

.footer-left-part .footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-color {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

.footer-link-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-list-item {
  width: 40px;
  height: 40px;
}
.footer-list-link {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-links-list {
  display: flex;
  gap: 16px;
}
.footer-list-link:hover,
.footer-list-link:focus {
  background-color: #31d0aa;
}
.svg {
  fill: #f4f4fd;
}
.subscribe-part {
  margin-bottom: 0;
}
.subscribe-part-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-input-button {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.email-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  padding-left: 16px;
  background: transparent;
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.email-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
}
.telegramm-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 24px;

  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.telegramm-button:hover,
.telegramm-button:focus {
  background-color: #404bbf;
}
.telegramm-icon {
  margin-left: 16px;
}

/*tablet footer*/

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: flex-start;
    padding-left: 108px;
  }
  .footer-left-part,
  .footer-link-part,
  .subscribe-part {
    align-items: flex-start;
    margin-bottom: 0;
  }
  ..subscribe-part {
    margin-top: 0;
  }
  .footer-input-button {
    flex-direction: row;
    gap: 24px;
  }
  .email-input {
    margin-bottom: 0;
    max-width: 264px;
  }
}
/*desktop footer*/

@media screen and (min-width: 1158px) {
  .page-footer {
    padding: 100px 0;
  }
  .footer-container {
    flex-wrap: nowrap;
    gap: 0;
    padding-left: 15px;
  }
  .footer-left-part {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .footer-link-part {
    margin-right: 80px;
    margin-bottom: 0;
  }
  .subscribe-part {
    margin-left: auto;
    margin-bottom: 0;
  }
}
/* ========= /Page footer styles ========= */

/* ========= Backdrop styles ========= */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* ========= /Backdrop styles ========= */

/* ========= Modal window styles ========= */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 288px;
  min-height: 623px;
  background: #fcfcfc;
  padding: 72px 24px 16px 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
  }
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #fff;
}
.modal-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.modal-form-field-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
  display: block;
}
.modal-form-field-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field-input:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.modal-form-wrapper {
  margin-bottom: 8px;
}
.modal-form-wrapper-comment {
  margin-bottom: 16px;
}
.modal-form-input-wrapper {
  position: relative;
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field-input:focus + .modal-form-icon {
  fill: #4d5ae5;
}
.modal-form-message {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.modal-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal-form-field-checkbox {
  margin-bottom: 24px;
}
.modal-form-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.privacy-policy-link {
  color: #4d5ae5;
  text-decoration: underline;
}
.modal-form-own-checkbox {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-checkbox:checked
  + .modal-form-checkbox-label
  .modal-form-own-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: #404bbf;
}
.modal-form-checkbox:focus
  + .modal-form-checkbox-label
  .modal-form-own-checkbox {
  outline: 1px solid #4d5ae5;
}
.modal-form-checkbox-label {
  display: flex;
  align-items: center;
}

.modal-form-submit-button {
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  padding: 0px 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-submit-button:hover,
.modal-form-submit-button:focus {
  background-color: #404bbf;
}
/* ========= /Modal window styles ========= */

/* ========= Mobile Menu styles ========= */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  height: 100%;
  background: #fff;
}
.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 24px;
}
.mobile-menu-close-icon {
  fill: #2e2f42;
}

.mob-container-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 72px;
  padding-bottom: 40px;
}
.mob-menu-nav {
  flex-grow: 1;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  margin-bottom: auto;
}
.menu-nav-item:not(:last-child) {
  margin-bottom: 40px;
}
.link-line {
  color: #4d5ae5;
}
.menu-link,
.adress-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-nav-link:focus,
.adress-link:hover,
.adress-link:focus {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link.activ {
  position: relative;
  color: #404bbf;
}
.menu-link.activ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  background-color: #404bbf;
  border-radius: 2px;
  width: 100%;
  height: 4px;
}
.mob-menu-adress {
  margin-top: auto;
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #434455;
}
.mob-menu-adress-item:not(:last-child) {
  margin-bottom: 24px;
}
.adress-link-tel {
  color: #4d5ae5;
}
.menu-social-links-list {
  display: flex;
  gap: 40px;
  margin: 0;
}
.social-list-item {
  width: 40px;
  height: 40px;
}
.social-list-link {
  content: "";
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:focus {
  background-color: #404bbf;
}
.svg {
  fill: #f4f4fd;
}
/* ========= /Mobile Menu styles ========= */
